:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent: #2196f3;
  --black: #000000;
  --list-address: rgba(255, 255, 255, 0.6);
  --hover-btn: #188ce8;
  --filter-btn: #f5f4fa;
}
/* глобальный border-box */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* глобальный сброс стилей по селектору тега */
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* «container» оборачивает контент хедера,
 футера и секций, то есть находится внутри них */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* list-style hidden */
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
/* text-decoration hidden */
.link {
  text-decoration: none;
}
/* header */
.header {
  border-bottom: 1px solid #ececec;
}
/* logo */
.logo-header {
  color: var(--black);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: var(--accent);
}
/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}
.site-nav .current {
  color: var(--accent);
}
.main-nav {
  display: flex;
  align-items: center;
}
/* auth-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent);
}
.icon-header {
  margin-right: 10px;

  fill: currentColor;
}
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);

  max-width: 1600px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  background-color: var(--accent);
  color: var(--bg-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn);
  color: var(--bg-color);
}
/* features */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  line-height: 1.71;
}
.features-list {
  display: flex;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--filter-btn);

  width: 270px;
  height: 120px;
  border-radius: 4px;
}
/* activity */
.activity {
  padding-bottom: 94px;
}
.activity-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.activity-list {
  display: flex;
}
.activity-item:not(:last-child) {
  margin-right: 30px;
}
/* team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--filter-btn);
}
.team-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-name {
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-position {
  line-height: 1.18;
  font-size: 16px;
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;

  width: 270px;
  text-align: center;
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--bg-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.inversion {
  color: var(--accent);
}
.maps {
  color: var(--bg-color);

  line-height: 1.71;
  font-style: normal;
}
.maps:hover,
.maps:focus {
  color: var(--accent);
}
.link-footer {
  color: var(--list-address);

  line-height: 1.71;
  font-style: normal;
}
.link-footer:hover,
.link-footer:focus {
  color: var(--accent);
}
.list-item:not(:last-child) {
  margin-bottom: 9px;
}
/* Portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  background-color: var(--filter-btn);
  color: var(--secondary-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent);
  color: var(--bg-color);
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;

  width: 370px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-title {
  margin-bottom: 4px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--primary-text-color);

  line-height: 1.87;
  font-size: 16px;
}
.portfolio-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}
